body {
    background-color: #ffca63;
    text-align: center;
}

#submit-button {
    background-color: blue;
    color: white;
    margin-top: 10px;
    height: 35px;
    width: 85px;
    border-radius: 8px;
}

h2 {
    color: #da5413;
}



